body {
  background-color: #f5f6fa;
  font-family: 'Montserrat', sans-serif;
}

.App {
  margin: 100px;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
}

.header {
  display: flex;
  padding: 0 100px;
  font-size: 15px;
  color: #0290ff;
  font-weight: bold;
  align-items: center;
  background-color: #fff;
  border: solid 1px #e8e8e8;

  ul {
    display: flex;

    li {
      margin: 0 20px;
      list-style: none;
    }
  }

  #books {
    font-size: 13px;
    color: #121212;
    letter-spacing: 1.9px;
  }

  #categories {
    opacity: 0.5;
    font-size: 13px;
    color: #121212;
    letter-spacing: 1.9px;
  }
}

.book-div {
  display: flex;
  height: 170px;
  border-radius: 4px;
  margin: 20px 100px;
  align-items: center;
  background-color: #fff;
  border: solid 1px #e8e8e8;
  justify-content: space-between;
}

.left-book {
  width: 70%;
  margin-left: 20px;

  .top-left-book {
    padding: 0;
    margin: 2% 0;

    #category {
      padding: 0;
      font-size: 14px;
      color: #898989;
      font-weight: bold;
      margin: 0 1.5% 0 0;
    }

    #title {
      padding: 0;
      margin: 0;
      font-size: 22px;
      font-weight: bold;
    }
  }

  .bottom-left-book {
    padding: 0;
    margin: 0;
  }
}

.right-book {
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#book-number {
  opacity: 0.5;
  font-size: 13px;
  font-weight: 300;
  color: #121212;
}

#book-id {
  font-size: 16px;
  font-weight: 300;
  color: #121212;
  letter-spacing: -0.4px;
}

.book-links {
  display: flex;
  padding: 0;
  margin: 0;
}

.bottom-left-book ul li {
  margin: 0;
  font-size: 16px;
  list-style: none;
  text-decoration: none;

  a {
    text-decoration: none;
  }
}

.book-details {
  font-size: 14px;
  font-weight: 300;
  color: #4386bf;
}

#comments {
  padding-right: 15px;
  border-right: 1px #e8e8e8 solid;
}

#edit {
  padding-left: 15px;
  border-left: 1px #e8e8e8 solid;
}

.book-form {
  margin: 20px 100px;
  color: #a1a1a1;
}

.form-input {
  width: 80%;
  height: 10vh;
  display: flex;
  color: #fefefe;
  align-items: center;
  justify-content: space-between;
}

.form-title {
  text-transform: uppercase;
}

.drop-down,
.book-input {
  height: 45px;
  margin: 0 2%;
  font-size: larger;
  font-weight: bolder;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #e8e8e8;
}

#book-input-field {
  width: 65%;
  padding-left: 10px;
}

#chose-category {
  width: 20%;
}

#add-book {
  width: 10%;
  font-weight: bold;
}

.category-filter {
  width: auto;
  display: flex;
  margin: 20px 100px;
  align-items: center;
  justify-content: center;
}

#chose-category-view {
  width: 285px;
}

button {
  cursor: pointer;
}

.blue-button {
  width: auto;
  height: 45px;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background-color: #0290ff;
}

#remove-button {
  border: none;
  padding: 2% 6%;
  padding: 0 15px;
  background: none;
}
