body {
  background-color: #f5f6fa;
  font-family: 'Montserrat', sans-serif;
}

.App {
  margin: 100px;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
}

.header {
  display: flex;
  padding: 0 100px;
  font-size: 15px;
  color: #0290ff;
  font-weight: bold;
  align-items: center;
  border: solid 1px #e8e8e8;
  background-color: #fff;

  ul {
    display: flex;

    li {
      margin: 0 20px;
      list-style: none;
    }
  }

  #books {
    font-size: 13px;
    color: #121212;
    letter-spacing: 1.9px;
  }

  #categories {
    opacity: 0.5;
    font-size: 13px;
    color: #121212;
    letter-spacing: 1.9px;
  }
}

.book-div {
  display: flex;
  height: 170px;
  border-radius: 4px;
  margin: 20px 100px;
  align-items: center;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  justify-content: space-between;
}

.book-div p {
  margin: 16px 27px;
  width: 100%;
}

.book-div button,
.book-form button {
  width: 15%;
  font-size: 30px;
  color: #fafafa;
  margin: 16px 20px;
  background-color: #0290ff;
}

.book-group {
  width: 80%;
}

#category {
  width: 70%;
  height: 18px;
  opacity: 0.5;
  font-size: 14px;
  color: #898989;
  font-weight: bold;
}

#title {
  width: 197px;
  height: 29px;
  font-size: 22px;
}

.book-form {
  margin: 20px 100px;
  color: #a1a1a1;
}

.form-input {
  height: 10vh;
  display: flex;
  color: #fefefe;
  align-items: center;
  justify-content: space-between;
}

.drop-down,
.book-input {
  width: 35%;
  height: 30%;
  margin: 5px;
  padding: 5px 20px;
  font-size: larger;
  font-weight: bolder;
}

.category-filter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
